

.logo{
    display: flex;
    justify-content: center;
    position: relative;
    img{
    width: 250px;
    z-index: 1;
}
}

.logo:after{
    content: "";
    position: absolute;
    height: 2px;
    background: #3a3b39;
    width: 90%;
    top: 42px;
    left: 5%;
}