.search {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  i.search1 {
    margin: 0px 5%;
    cursor: pointer;
  }
  p {
    margin: 0px 5%;
    color: rgb(101, 101, 101);
  }
  
}
