.sections {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
  i.upArrow {
    margin: 0px 5px;
  }

  .icon {
    font-size: xx-large;
  }

  span.Trending {
    display: flex;
    align-items: center;
  }
  .trending-sections {
    display: flex;
    overflow: auto;
    /* justify-content: center; */
    height: 50px;
    width: 1100px;
  }

  p a {
    display: flex;
    width: 150%;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    margin: 0px 30px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    background-color: rgba(181, 181, 181, 0.315);
  }

  .trending-sections::-webkit-scrollbar {
    display: none;
  }
  a{
    text-decoration: none;
    color: black;
}
  p {
    margin: 0px 5%;
    color: rgb(101, 101, 101);
  }
}
